@import "globalStyle";

.container{
    .wrapper-top-menu{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 33px;
        padding: 0 35px;
        .information-city{
            display: flex;
            p{
                color: $white;
                opacity: 0.13;
            }
            .city-name{
                color: $white;
                opacity: 0.6;
                margin-left: 10px;
            }
        }
        .social-links{
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            display: flex;
            align-items: center;
            gap: 27px;
            height: 21px;
            .link-item{
                
                a{
                    display: flex;
                    img{
                        opacity: 0.6;

                    }
                }
            }
        }
        .contacts-info{
            display: flex;
            gap: 13px;
            .contact-style{
                font-weight: 400;
                font-size: 14px;
                opacity: 0.6;
            }
            .phone-info{
                display: flex;
                .phone-icon{
                    margin-right: 7px;
                    img{}
                }
            }

        }
    }
    &:after{
        position: absolute;
        content: '';
        width: 90%;
        margin-right: 105%;
        height: 1px;
        background-color: #242424;
    }
}