@import "variables";

*{
    font-family: $ABeeZee;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid red;
}
.main-wrapper{
    max-width: 1057px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
a{
    text-decoration: none;
}