@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$ABeeZee:"ABeeZee", sans-serif;
$doppioOne:"Doppio One", sans-serif;
$openSans:"Open Sans", sans-serif;

//colors
$white:#fff;
$orange:#CC7408FF;
$orange-line:#D87700FF;
$gray:#3B3A40;
$opacity-graphite: #131218CC;
$color-feedback-form:#FCF7F2FF;
$color-footer-text:#C4C4C4FF;
