@import "variables";
.main-services-block{
  margin-top: 65px;
  .services-wrapper{
    margin-top: 43px;
    display: flex;
    justify-content: center;
    gap:19px;
    .item-service{
      height: 400px;
      width: 300px;
      position: relative;
      overflow: hidden;
      background-size: 100% auto;
      .mask-item{
        position: absolute;
        top:-23.25%;
        //bottom: 93px;
        height: 123.25%;
        width: 300px;
        transform: translateY(81.14%);
        transition: all 0.4s ease-in;
        background: $opacity-graphite;

        .title{
          height: 93px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
        .content-item{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 81.14%;
          p{
            padding: 17px 33px 0 33px;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
          }
          .show-more{
            height: 93px;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
              text-transform: uppercase;
              color: $orange;
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }

      &:hover{
        .mask-item{
          transform: translateY(0);
        }
      }

    }
  }

}
