<div class="carousel-wrapper">
  <div class="left-arrow arrow">
    <img src="../../../../assets/images/index-page/carousel-adversting/arrow-left.svg" alt="" (click)="swapLeft()">
  </div>

  <div class="carousel-styleNone">
    <div class="carousel"[style]="{'transform':'translateX('+positionCarousel+'%)'}">
      <div class="carousel-section" >

        <div class="carousel-section-item" *ngFor="let item of goodsItems">
          <div class="image-good">
          </div>
          <div class="info-good">
            <p class="subtitle-good">{{ item.category }}</p>
            <h4 class="name-good">{{ item.name }}</h4>
            <div class="footer-good">
              <div class="price-info">
                <p class="price price-style">₽{{ item.price }}</p>
                <p class="discounted-price price-style">₽{{ item.discountedPrice }}</p>
              </div>
              <div class="reviews">
                <div class="rating">
                  <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                  <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                  <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                  <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                  <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                </div>
                <p>{{ item.reviews }} отзывов</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="right-arrow arrow">
    <img src="../../../../assets/images/index-page/carousel-adversting/arrow-right.svg" alt="" (click)="swapRight()">
  </div>
</div>

<div class="pointer-wrapper">
  <ng-container *ngFor="let item of goodsItems;let ind = index;">
    <div class="pointer-item" *ngIf="(ind%4)==0" id="elem-{{ind}}}" [ngStyle]="{'background': ind===currentIndexOfCarouselList  ? '#C4C4C4' : '#3B3A40'} "></div>
  </ng-container>
</div>
