<div class="carousel-wrapper">
  <div class="left-arrow arrow">
    <img src="../../../../assets/images/index-page/carousel-adversting/arrow-left.svg" alt="" (click)="swapLeft()">
  </div>
  <div class="carousel"[style]="{'transform':'translateX('+positionCarousel+'%)'}">
    <div class="carousel-section" >

      <div class="carousel-section-item">
        <div class="image-good">
        </div>
        <div class="info-good">
          <p class="subtitle-good">Укулеле</p>
          <h4 class="name-good">Enya EUC-MAD</h4>
          <div class="footer-good">
            <div class="price-info">
              <p class="price price-style">₽24 890</p>
              <p class="discounted-price price-style">₽24 890</p>
            </div>
            <div class="reviews">
              <div class="rating">
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
              </div>
              <p>7 отзывов</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section-item">
        <div class="image-good">
        </div>
        <div class="info-good">
          <p class="subtitle-good">Укулеле</p>
          <h4 class="name-good">Enya EUC-MAD</h4>
          <div class="footer-good">
            <div class="price-info">
              <p class="price price-style">₽24 890</p>
              <p class="discounted-price price-style">₽24 890</p>
            </div>
            <div class="reviews">
              <div class="rating">
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
              </div>
              <p>7 отзывов</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section-item">
        <div class="image-good">
        </div>
        <div class="info-good">
          <p class="subtitle-good">Укулеле</p>
          <h4 class="name-good">Enya EUC-MAD</h4>
          <div class="footer-good">
            <div class="price-info">
              <p class="price price-style">₽24 890</p>
              <p class="discounted-price price-style">₽24 890</p>
            </div>
            <div class="reviews">
              <div class="rating">
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
              </div>
              <p>7 отзывов</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section-item">
        <div class="image-good">
        </div>
        <div class="info-good">
          <p class="subtitle-good">Укулеле</p>
          <h4 class="name-good">Enya EUC-MAD</h4>
          <div class="footer-good">
            <div class="price-info">
              <p class="price price-style">₽24 890</p>
              <p class="discounted-price price-style">₽24 890</p>
            </div>
            <div class="reviews">
              <div class="rating">
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
              </div>
              <p>7 отзывов{{positionCarousel}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-section-item">
        <div class="image-good">
        </div>
        <div class="info-good">
          <p class="subtitle-good">Укулеле</p>
          <h4 class="name-good">Enya EUC-MAD</h4>
          <div class="footer-good">
            <div class="price-info">
              <p class="price price-style">₽24 890</p>
              <p class="discounted-price price-style">₽24 890</p>
            </div>
            <div class="reviews">
              <div class="rating">
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
                <div class="star"><img src="../../../../assets/images/index-page/popular-goods/Star.svg" alt=""></div>
              </div>
              <p>7 отзывов{{positionCarousel}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-arrow arrow">
    <img src="../../../../assets/images/index-page/carousel-adversting/arrow-right.svg" alt="" (click)="swapRight()">
  </div>
</div>
