<section class="feedback-block">
  <div class="feedback-wrapper">
    <div class="background-img">
      <div class="mask"></div>
    </div>
    <div class="form">
      <div class="text">
        <p class="title-styles first-text-block">ВСТУПАЙ В КЛУБ</p>
        <h4 class="title">GUITAR LAVKA</h4>
        <p class="subtitle">Полезные письма об инструментах и мероприятиях</p>
      </div>
      <form action="">
        <div class="input-email">
          <input type="email" name="" id="" placeholder="Ваш email...">
          <button type="submit">
            <img src="../../../assets/images/index-page/feedback-form/send.png" alt="">
          </button>
        </div>
        <p class="agreement">Я даю согласие на обработку своих персональных данных</p>
      </form>
    </div>
  </div>

</section>
