<div class="filter-wrapper">
  <div class="count-goods display-flex">
    <p>155 товаров</p>
  </div>
  <div class="in-stock display-flex">
    <p>В наличии</p>
    <div class="checkbox">
      <input type="checkbox"  name="" id="1">
      <label></label>
    </div>
  </div>
  <div class="sort display-flex">
    <p>Сортировка</p>
    <select name="" id="2">
      <option value="">По умолчанию</option>
    </select>
  </div>
  <div class="count-view display-flex">
    <p>Показывать по</p>
    <input type="text" name="" id="3" value="15">
  </div>
  <div class="grid-catalog display-flex">
    <img src="../assets/images/catalog/grid-view.svg" alt="">
    <img src="../assets/images/catalog/vertical-view.svg" alt="" >
  </div>
</div>
